.env
.env.development
.env.local
node_modules
./build
./coverage/*
.idea/*
report.xml
sonar-report.xml
yarn-error.log
server-build
build
!ci/build
.next
coverage
out
.run
public/robots.txt
public/sitemap.xml
tsconfig.tsbuildinfo

# Sentry
.sentryclirc
next.config.wizardcopy.js

# MacOS files
.DS_Store
