{
  "plugins": ["stylelint-prettier", "stylelint-order", "stylelint-scss"],
  "extends": ["stylelint-config-airbnb", "stylelint-config-rational-order"],
  "rules": {
    "prettier/prettier": true,
    "order/properties-order": ["width", "height"],
    "plugin/rational-order": [
      true,
      {
        "border-in-box-model": false,
        "empty-line-between-groups": false
      }
    ]
  }
}
